{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }} {{ viewed_user.getPseudo() }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/participant.css') }}">{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 85%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1 class="page-title">Profil de {{ viewed_user.getFullName() }} !</h1>

    <div class="viewed-profile-container">
        <img src="{{ asset('img/userProfile/' ~ viewed_user.getImageName())}}" alt="">
        <div class="info-container">
            <div class="field-container">
                <p class="field-title">Prénom :</p>
                <p class="field-value">{{ viewed_user.getPrenom() and viewed_user.getPrenom() != "" ? viewed_user.getPrenom() : "Ø" }}</p>
            </div>

            <div class="field-container">
                <div class="field-title">Nom :</div>
                <div class="field-value">{{ viewed_user.getNom() and viewed_user.getNom() != "" ? viewed_user.getNom() : "Ø" }}</div>
            </div>

            <div class="field-container">
                <div class="field-title">Pseudo :</div>
                <div class="field-value">{{ viewed_user.getPseudo() and viewed_user.getPseudo() != "" ? viewed_user.getPseudo() : "Ø" }}</div>
            </div>

            <div class="field-container">
                <div class="field-title">Téléphone :</div>
                <div class="field-value">{{ viewed_user.getTelephone() and viewed_user.getTelephone() != "" ? viewed_user.getTelephone() : "Ø" }}</div>
            </div>

            <div class="field-container">
                <div class="field-title">Email :</div>
                <div class="field-value">{{ viewed_user.getMail() }}</div>
            </div>

            <div class="field-container">
                <div class="field-title">Ville de rattachement :</div>
                <div class="field-value">{{ viewed_user.getSite().getNom() and viewed_user.getSite().getNom() != "" ? viewed_user.getSite().getNom() : "Ø" }}</div>
            </div>
        </div>
    </div>
    <a href="{{path('app_sortie_show', {id: sortie.id})}}" class="button back-button">Revenir à la sortie</a>
{% endblock %}
