{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }} Identification{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/login.css') }}">{% endblock %}

{% block body %}

<div class="form-container">
<h1 class="page-title">Connexion</h1>

<form class="login" method="post">
    {# {% if error %}
        <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    <div class="form-input">
        <div class="input-group">
            <label class="form-label" for="inputmailParticipant">Email</label>
            <input type="text" value="{{ last_username }}" name="mailParticipant" id="inputmailParticipant" class="form-control" autocomplete="username" placeholder="Entrez votre adresse email" required autofocus>
        </div>
        <div class="input-group">
            <label class="form-label" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Entrez votre mot de passe" required>
            <a href="{{ path('forgotten_password') }}" class="forgotten-password">Mot de passe oublié ?</a>

        </div>


        <div class="input-group remember-me">
            <input type="checkbox" name="_remember_me" checked />
            <label for="_remember_me">Rester connecté</label>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <div class="form-footer">
            <button class="button button-large" type="submit">Connexion </button>
        </div>
    </div>
</form>
</div>

{% endblock %}
