{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}
{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button class="btn btn-primary" type="submit" name="{{ registrationForm.importCsv.vars.full_name }}">Import CSV</button>
    {{ form_end(registrationForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{% endblock %}
