{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }}S'enregistrer{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/register.css') }}">{% endblock %}

{% block body %}

<div class="form-container">
    <h1 class="page-title">Créer un utilisateur</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm, { 'attr' : {'enctype': 'multipart/form-data', 'class': 'form-input'} }) }}

    <div class="input-group">
        {{ form_label(registrationForm.csvFile, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.csvFile, {'attr': {'class': 'inputfile'}}) }}
    </div>

    <input type="submit" class="btn btn-primary" {{ button_label|default('S\'inscrire') }}>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
