{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/cancelSortie.css')}}">
{% endblock %}

{% block body %}

    <div class="cancel-container">
        <h2 class="subtitle">Annuler une sortie</h2>
        <p>Nom de la sortie : {{sortie.nom}}</p>
        <p>Date de la sortie :  {{sortie.dateHeureDebut|date('d/m/Y')}}</p>
        <p>Ville organisatrice : {{sortie.site.nom}}</p>
        <p>Lieu : {{sortie.lieu.nom}}</p>
        {{ form_start(form) }}

        <div class="motive-container">
            {{ form_label(form.infosSortie) }}
            {{ form_widget(form.infosSortie) }}
        </div>

        <div class="button-container">
            {{form_label(form.submit)}}
            {{form_widget(form.submit)}}

            {{form_label(form.cancel)}}
            {{form_widget(form.cancel)}}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}