{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/sortie.css')}}">
{% endblock %}

{% block body %}

<div class="user-container">
    <p>Date du jour : {{"now"|date("d/m/Y")}}</p>
    <p>Participant : {{user.prenom}} {{user.nom|first}}.</p>
</div>

<h1 class="page-title">Filtrer les sorties</h1>

{{ form_start(form, { 'attr': { 'id': 'filter_sortie'}}) }}
    <!-- Loader -->
    <div class="loader">
        <img src="{{ asset('img/loader.gif')}}" alt="Chargement en cours...">
    </div>
    <div class="filters">
        <div class="first-column">
            <div class="site-option-container">
                {{form_label(form.sites)}}
                {{form_widget(form.sites)}}
            </div>
            <div class="name-option-container">
                {{form_label(form.nameSearch)}}
                {{form_widget(form.nameSearch)}}
            </div>
            <div class="date-option-container">
                {{form_label(form.dateStart)}}
                {{form_widget(form.dateStart)}}
                {{form_label(form.dateEnd)}}
                {{form_widget(form.dateEnd)}}
            </div>
        </div>
        <div class="second-column">
            <div class="checkbox-container">
                <div class="input-container">            
                    {{form_widget(form.checkboxRegistered, { 'attr': { 'onclick': 'exclusiveFilters(true);'}})}}
                    {{form_label(form.checkboxRegistered)}}
                </div>
                <div class="input-container">
                    {{form_widget(form.checkboxNotRegistered, { 'attr': { 'onclick': 'exclusiveFilters(false);'}})}}
                    {{form_label(form.checkboxNotRegistered)}}
                </div>
                <div class="input-container">
                    {{form_widget(form.checkboxOrganizer)}}
                    {{form_label(form.checkboxOrganizer)}}
                </div>
                <div class="input-container">
                    {{form_widget(form.checkboxPast)}}
                    {{form_label(form.checkboxPast)}}
                </div>
            </div>
        </div>
    </div>

    <div class="submit-container">
        {{form_widget(form.filter)}}
    </div>
{{ form_end(form) }}

<div class="sortie-container">
    <table>
    <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits / Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{sortie.nom}}</td>
                <td>{{sortie.dateHeureDebut|date('d-m-Y H:i')}}</td>
                <td>{{sortie.dateLimiteInscription|date('d-m-Y H:i')}}</td>
                <td>{{sortie.participants|length}} / {{sortie.nbInscriptionsMax}}</td>
                <td>{{sortie.etat.libelle}}</td>
                <td>
                {% if user in sortie.participants %}
                    X
                {% endif %}
                </td>
                <td>{{sortie.organisateur.pseudo}}</td>
                    <td>
                    <div class="button-container">
                    <form action="{{ path('app_sortie_show', {id: sortie.id}) }}">
                        <button class="button" type="submit">Afficher</button>
                    </form>
                    {% if user not in sortie.participants and sortie.etat.id == 2 %}
                        <form method="POST" action="{{ path('app_sortie_register', {id: sortie.id}) }}">
                            <button class="button" type="submit">S'inscrire</button>
                        </form>
                    {% endif %}
                    {% if user in sortie.participants and sortie.etat.id == 2 %}
                    <form method="POST" action="{{ path('app_sortie_unregister', {id: sortie.id}) }}">
                        <button class="button" type="submit">Se désinscrire</button>
                    </form>
                    {% endif %}
                    {% if user == sortie.organisateur and sortie.etat.id == 1 %}
                    <form method="POST" action="{{ path('app_sortie_publish', {id: sortie.id}) }}">
                        <button class="button" type="submit">Publier</button>
                    </form>
                    {% endif %}
                    {% if user == sortie.organisateur and sortie.etat.id == 2 %}
                    <form method="POST" action="{{ path('app_sortie_edit', {id: sortie.id}) }}">
                        <button class="button" type="submit">Modifier</button>
                    </form>
                    <form method="POST" action="{{ path('app_sortie_cancel', {id: sortie.id}) }}">
                        <input class="hidden-input" type="hidden" name="sortieIdCancel" value="{{ sortie.id }}">
                        <button class="button cancel-button" type="submit">Annuler</button>
                    </form>
                    {% endif %}
                    </td>
                </div>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div class="mobile-sortie-container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{sortie.nom}}</td>
                    <td>{{sortie.dateHeureDebut|date('d-m-Y H:i')}}</td>
                    <td>{{sortie.lieu.nom}} 
                        <img class="show-details-sortie" src="{{asset('/img/oeil.png') }}" alt="Afficher le détail de la sortie">             
                        <input class="hidden-input" type="hidden" name="sortieId" value="{{ sortie.id }}">
                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<div class="detail-mobile-container">
    <img class="exit-details" src="{{asset('/img/annuler.png')}}" alt="Quitter le détail de la sortie">
    <div class="info-container"></div>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tbody class="table-body">
                
        </tbody>
    </table>
</div>

<a class="button button-large button-create" href="{{ path('app_sortie_new') }}">Créer une sortie</a>
<script src="{{asset('/JS/sortie.js')}}"></script>
<script src="{{asset('/JS/form.js')}}"></script>
{% endblock %}


