{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/showSortie.css')}}">
{% endblock %}

{% block body %}

<h1 class="main-title">Afficher les sorties</h1>
<div class="first-column">
    <p class="sortie-info">Nom de la sortie : {{sortie.nom}}</p>
    <p class="sortie-info">Date et heure de la sortie : {{sortie.dateHeureDebut|date('d-m-Y')}}</p>
    <p class="sortie-info">Date limite d'inscription : {{sortie.dateLimiteInscription|date('d-m-Y')}}</p>
    <p class="sortie-info">Nombre d'inscrits : {{sortie.participants|length}} / {{sortie.nbInscriptionsMax}}</p>
    <p class="sortie-info">Durée : {{sortie.duree}}</p>
    <p class="sortie-info">Description et infos :{{sortie.infosSortie}}</p>
</div>

<div class="second-column">
    <p class="sortie-info">Ville organisatrice : {{sortie.site.nom}}</p>
    <p class="sortie-info">Lieu : {{sortie.lieu.nom}}</p>
    <p class="sortie-info">Rue : {{sortie.lieu.rue}}</p>
    <p class="sortie-info">Code postal : {{sortie.lieu.ville.codePostal}}</p>
    <p class="sortie-info">Latitude : {{sortie.lieu.latitude}}</p>
    <p class="sortie-info">Longitude : {{sortie.lieu.longitude}}</p>
</div>

<div class="participants-container">
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td>{{participant.pseudo}}</td>
                <td>{{participant.nom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
