{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }} Modifier la ville "{{ ville.nom }}"{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/ville.css') }}">{% endblock %}

{% block body %}
    <div class="towns-wrapper">
    <h1>Modifier la ville "{{ ville.nom }}"</h1>

    <span class="go-back-link"><a href="{{ path('app_ville_index') }}">‹ Retourner à la liste des villes</a></span>

    {{ include('ville/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div>
{% endblock %}
