{% extends 'base.html.twig' %}

{% block title %}{{ tab_name_prefix }} Liste des villes{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/ville.css') }}">{% endblock %}

{% block body %}
    
    <div class="towns-wrapper">
        <h1>Gérer les villes</h1>

    <div class="filters-wrapper">
        <h2>Filter les villes</h2>
        <div class="filters-ctn">
            <form method="POST" action="{{ path('app_ville_index') }}">
                <label for="">Le nom contient :</label>
                <input type="text" name="name-filter" {% if search is defined %} value="{{ search }}" {% endif %} />
                <input class="button" type="submit" value="Rechercher" />
            </form>
        </div>
        
    </div>
    <table class="towns table">
        <thead>
            <tr class="towns-row header">
                <th class="towns-cell header">Nom</th>
                <th class="towns-cell header">Code Postal</th>
                <th class="towns-cell header">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr class="towns-row">
                <td class="towns-cell">{{ ville.nom }}</td>
                <td class="towns-cell">{{ ville.codePostal }}</td>
                <td class="towns-cell">
                    <a class="button" href="{{ path('app_ville_edit', {'id': ville.id}) }}">Modifier</a>
                    {% if ville.lieux[0] is not defined %}
                    <form id="form_delete_town_{{ ville.id }}" method="POST" action="{{ path('app_ville_delete_by_id', {'id': ville.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
                        <a class="button" onclick="if(confirm('Êtes vous sûr(e) de vouloir supprimer {{ ville.nom }} ?')) { document.getElementById('form_delete_town_{{ ville.id}}').submit();  } else { return false; }" href="#">Supprimer</a>
                    </form>
                    {% else %}
                        <button disabled="disabled" class="button disabled" title="Impossible de supprimer une ville liée à une activité existante">Supprimer</button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr class="towns-row">
                <td class="towns-cell" colspan="3">
                {% if search is defined %}
                    Aucun nom de ville ne correspond à la recherche.
                {% else %}
                    Il n'existe pas de ville pour l'instant.
                {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr class="towns-row new-town">
                <form method="POST" action="{{ path('app_ville_new') }}">
                <td class="towns-cell"><input name="ville[nom]" required="required" type="text" /></td>
                <td class="towns-cell"><input name="ville[codePostal]" required="required" type="text" /></td>
                <td class="towns-cell"><input type="hidden" name="ville[_token]" value="{{ csrf_token('ville') }}"><input class="button" type="submit" value="Ajouter" /></td>
                </form>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
