<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir a l'ENI{% endblock %}</title>
        <!-- favicon -->
        <link rel="stylesheet" href="{{ asset('styles/nav.css') }}">
        <link rel="icon" href="{{ asset('img/sortiraleni.png') }}">

        <!-- fonts google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <!-- styles -->
        <link rel="stylesheet" href="{{ asset('styles/flashes.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ path('app_sortie_index') }}"><img src="{{ asset('img/sortiraleni.png') }}" alt="Logo" class="logo"></a>
            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_ville_index') }}">Villes</a></li>
                    <li><a href="" class="strike greyed-out">Sites</a></li>
                {% endif %}               
                    <li><a href="{{ path('app_sortie_index') }}">Accueil</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a class='profile-link' href="{{ path('app_profile') }}">Mon profil ({{ user.getFullName() }}) <img class='mini-profile-pic' src="{{asset('/img/userProfile/')}}{{ user.getImageName()}}" alt=""></a></li>
                {% endif %} 
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
        {% include "_flashes.html.twig" %}
    </body>
    {% block body %}{% endblock %}  
    {% block javascripts %}{% endblock %}
</html>