<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Barre de naviguation{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/nav.css') }}">
        <link rel="icon" href="{{ asset('img/sortiraleni.png') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <img src="{{ asset('img/sortiraleni.png') }}" alt="Logo" class="logo">
            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="">Villes</a></li>
                    <li><a href="">Sites</a></li>
                {% endif %}               
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Mon profil</a></li>
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
    </body>
    {% block body %}{% endblock %}  
    {% block javascripts %}{% endblock %}
</html>